%li
  %a{:href => "javascript:void(0)"} Profile
%li
  %a{:href => "javascript:void(0)"} Goods
%li
  %a{:href => "javascript:void(0)"} Something else here
%li.divider
%li
  %a{:href => "javascript:void(0)"} Separated link
