- content_for :sidebar do
  = render partial: 'layouts/sidebar'

.col-md-8.col-md-offset-2.mar-top-72
  .well.bs-component#registration-edit-form
    = render 'users/registration_form', user: current_user
