development:
  adapter: postgresql
  database: helping_hand
  host: localhost
  username: postgres
  password: password

test:
  adapter: postgresql
  database: helping_hand_test
  host: localhost
  username: postgres
  password: password

production:
  adapter: postgresql
  database: helping_hand_production
  host: localhost
  username: postgres
  password: password