.nav.navbar-nav.navbar-right #sign-in-btn {
  padding: 8px;
}
.navbar {
  margin-bottom: 0px !important;
}
#registration-edit-form {
  margin-top: 30px;
}
.table-white tbody tr {
  background-color: #f9f9f9;
  border-bottom: 8px solid #eeeeee;
}
.mar-top-30 {
  margin-top: 30px;
}
.mar-top-15 {
  margin-top: 15px;
}
